.team_title {
  font-weight: 700;
  font-size: 54px;
  text-align: center;
  color: #323a56;
  margin-top: 120px;

  span {
    color: #1d72d2;
  }
}

.team_description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.45;
  text-align: center;
  color: #8a90a5;
  margin-top: 20px;
}

.team_btn {
  border-radius: 8px;
  padding: 20px 40px;
  width: 241px;
  height: 64px;
  background: #1d72d2;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border: none;
}

.team_btn_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.team_box {
  border: 1px solid #eff2f7;
  border-radius: 12px;
  width: 290px;
  height: 360px;
  background: #fff;
}

.box_title {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #323a56;
}

.box_description {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #8a90a5;
  margin-top: 8px;
}


.team_wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}


@media screen and (max-width: 1203px) {
    .team_title {
        font-size: 40px;
        padding-top: 120px;
    }
    .team_description {
        font-size: 16px;
    }

    .team_wrapper{
        flex-direction: column;
        display: flex;
        align-items: center;
        row-gap: 70px;
    }
}