.training {
  margin-top: 120px;
}

.training_title {
  font-weight: 700;
  font-size: 54px;
  text-align: center;
  color: #323a56;
  span {
    color: #1d72d2;
  }
}

.training_description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.61111;
  text-align: center;
  color: #8a90a5;
  margin-top: 20px;
}

.training_btn {
  border-radius: 8px;
  padding: 20px 40px;
  width: 235px;
  height: 64px;
  background: #1d72d2;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border: none;
}


.training_btn_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}



@media screen and (max-width: 515px) {
    .training_description{
        font-size: 16px;
    }
    .training_title{
        font-size: 40px;
    }
    
}




@media screen and (max-width: 461px) {
    .training_description{
        font-size: 14px;
    }
    .training_title{
        font-size: 35px;
    }
    
}